apiVersion: v1
kind: Service
metadata:
  labels:
    k8s-app: coredns-etcd
  name: coredns-etcd
  namespace: external-dns
spec:
  ports:
  - name: etcd-http
    port: {{ ETCD_PORT }}
  - name: etcd-peer
    port: {{ ETCD_PEER_PORT }}
  selector:
    k8s-app: coredns-etcd
  type: ClusterIP
