apiVersion: v1
kind: Secret
metadata:
  name: grafana-credentials
  namespace: monitoring
type: Opaque
data:
  user: {{ grafana_admin_user | b64encode }}
  password: {{ grafana_admin_pass | b64encode }}
